/* --------------------------------------------------- Unité De Mesure textuelle ------------------------------*/

il existe plusieurs types d'unité de mesure dans css, mais les plus utilisé dans le contenu textuelle sont :

/* "root em" Cela signifie que cela 1rem équivaut à la taille de la police d'un élément html (16px) */
rem {
	font-size: 1rem;
	}

/* "viewport width"  Cela signifie que la taille du texte suivra la taille de la fenêtre du navigateur 
1vw = 1% de la largeur de la fenêtre*/
Selecteur {	
	font-size: 1vw;
	}

/* Permet l'adaptation fluid et responsive d'un contenue textuelle  */
Selecteur {
	font-size: min(max(1rem, calc(1rem + ((1vw - 0.48rem) * 0.6944))), 1.5rem);
	min-height: 0vw;
	}

/* ---------------------------------------------------- Attribut textuelle ----------------------------------- */
/*                                                                                                    Multiple */
/* Permet de définir plusieurs attribut textuelle */
Selecteur {
	/* style | variant | weight | stretch | size/line-height | family */
	font: italic small-caps bolder condensed 16px/3 cursive;
	}


/*                                                                                                      Police */
/* Permet de définir la police du texte */
Selecteur {
	font-family: nom_police, arial, serif, sans-serif;
	}


/*                                                                                                   Dimension */
/* Permet de définir la taille du texte */
Selecteur {
	font-size: 1vw;
	font-size: 1em;
	}


/*                                                                                               Positionnement*/
/* Permet l'alignement horizontale d'un contenu textuelle */
Selecteur {
	/* Le texte s'aligne horizontalement <- sur la gauche */
	text-align: left;

	/* Le texte s'aligne horizontalement -> sur la droite */
	text-align: right;

	/* Le texte s'aligne horizontalement <-> sur le centre */
	text-align: center;

	/* Le texte s'étale horizontalement <--> sur l'intégralité de la page */
	text-align: justify;

	/* Permet d'aligné horizontalement <-> le contenu d'une cellule */
	text-align: "." center;
	}


/* Permet l'alignement verticale d'un contenue textuelle*/
Selecteur {
	/* Permet l'alignement verticale en haut de la ligne de base */
	vertical-align: top;

	/* Permet l'alignement verticale en bas de la ligne de base */
	vertical-align: bottom;

	/* Permet l'alignement verticale au milieu */
	vertical-align: middle;
	}


/* Définit la hauteur d'espacement entre les lignes d'un texte */
Selecteur {
	line-height: 1vw;
	line-height: 1rem;
	}

/* Permet l'indatation d'un texte */
Selecteur {
	text-indent: 1vw;
	text-indent: 1rem;
	}

/* || Multiple colonne */
Selecteur{
  /* Permet de mettre un texte sur trois colonne*/
  column-count: 3;
  /*Permet de définir la largeur de la colonne */
  column-width: 200%;
  /* Permet de mettre des marges entres les colonnes*/
  column-gap: 10%;

  /*Permet d'étendre un titre sur tout les colonnes*/
  column-span: all;
  /*Permet de stylisé vos colonnes*/
  column-rule: 10% dotted color;
	}

/* Permet une coupure dans le texte */
Selecteur {
	/* Espace et tabulations préservé avec retour à la ligne et espace fin de ligne suspendus. */
	white-space: pre-wrap;

	/* Espace et tabulations regroupés avec retour à la ligne et espace fin de ligne retirés. */
	white-space: pre-line;

	/* Espace et tabulations regroupés avec retour à la ligne et espace fin de ligne passent à la ligne */
	white-space: break-space; 
	}


/*                                                                                                   Décoration*/
/* Permet de mettre les lettres en Petite CAPITALE */
Selecteur {
	font-variant: small-caps;
	/* Pour les autres fonctionnalités voir */
	https://developer.mozilla.org/fr/docs/Web/CSS/font-variant
	}


/* Permet de changé la couleur du texte */
Selecteur {
	color: color;
	color: rgba();
	color: #F2F2F2;
	}


/* Permet de mettre une ombre au texte ainsi que la couleur de l'ombre */
Selecteur {
	text-shadow: 1vw 1vw color;
	text-shadow: 1rem 1rem rgba();
	text-shadow: 1vw 1rem #F2F2F2;
}


/* Permet de mettre les lettres en Grande CAPITALE ou miniscule */
Selecteur {
	/* CAPITALE */
	transform: uppercase; 
	/* minuscule */
	transform: lowercase;
	}


Selecteur {
	font-weight: bold;
	}


/* Permet de mettre le texte en italique */
Selecteur {
	font-style: italic;
	font-style: oblique 40deg; 
	}


/* Permet de le soulignement ou l'encadrement du texte */
Selecteur {
	/* N'affiche pas les décorations */
	text-decoration: none; 	

	/* Permet de faire clignoté la décoration, Préférer utilisé l'attribut animation */
	text-decoration: blink;

	/* Permet de soulignez le texte */
	text-decoration-line: underline, color;

	/* Permet de dessiné une ligne au dessus du texte */
	text-decoration-line: overline, color;

	/* Permet de barré le texte */
	text-decoration-line: line-through, color;

	/* Permet de dessiné une ligne au dessus et de soulignez du texte */
	text-decoration-line: underline overline, color;

	/* Permet définir la couleur de la décoration */
	text-decoration-color: color;
	text-decoration-color: #F2F2F2;
	text-decoration-color: rgba();

	/* Permet la décoration d'un soulignement classique */
	text-decoration-style: solid; 

	/* Permet la décoration d'un double soulignement */
	text-decoration-style: double;

	/* Permet la décoration d'un soulignement en pointillé */
	text-decoration-style: dashed;

	/* Permet la décoration d'un soulignement en vague */
	text-decoration-style: wavy;
	}
