h2
{
text-align: center;
}

h4
{
color: darkred;
text-decoration: underline;
text-decoration-color: darkred;
}


strong
{
color: forestgreen
}

p
{
color: gray
}

.violet
{
color: indigo;
text-decoration: underline;
text-decoration-color: indigo;
}

.cerveau
{
color: indigo
}