table{
	/* Permet de fusionner le bord des cellules */
	border-collapse: collapse;
	/* Permet de mettre une marge entre les cellules */
	border-collapse: separate;


	/* Permet de mettre des marges entre les cellules */
	border-spacing: 5%;


	/* Permet que la table s'adapte au contenu */
	table-layout: auto;
	width: 100%;
	/* Permet définir une largeur dans les celulles */
	table-layout: fixed;
	width: 100%;}

	dt, th{border: 1% black solid}


	/*Permet de cacher les cellule vide*/
	.cell{empty-cells: hide;}


	/*Permet d'afficher le titre en haut ou en bas du tableau*/
	caption{
		caption-side: top;
		caption-side: bottom;
		}




ul{

	/*Pour voir les autres puces https://developer.mozilla.org/fr/docs/Web/CSS/list-style-type*/
	/* Permet de faire des cerle vide */
	list-style-type: circle;
	/* Permet d'enlevez les puces */
	list-style-type: none;



	/* Permet de mettre une image SVG à la place des puces */
	list-style-image: url("../../media/examples/fichier.svg");

	/* Permet definir le positionnement du marker */
	list-style-position: outside;
	list-style-position: inside;
}